@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.App {
  font-family: sans-serif;
  text-align: left;
}
:root {
  --white: #fff;
  --primary-color: #319795;
  --dark-primary-color: #277271;
  --light-shade: #ebf0f6;
  --dark-light-shade: #d0d3d6;
  --dark-shade: #2d3748;
  --sizes-full: 100%;
}
.bg-primary {
  color: var(--dark-shade);
  background-color: var(--primary-color);
}
.bg-secondary {
  color: var(--primary-color);
  background-color: var(--light-shade);
}
.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 200px;
}
.cat-img {
  border-radius: 20px;
}
.hamburger {
  font-size: 1rem;
  position: absolute;
  left: 0.75em;
  top: 0.75em;
  padding: 0.5em;
  align-self: flex-start;
  cursor: pointer;
  outline: none;
  color: var(--primary-color);
  background-color: white;
  border: 0.05px solid white;
}

.nav-hide {
  visibility: hidden;
  height: 0;
}
.posBadge {
  top: 1rem;
  right: 0rem;
}
.badgeSmaller {
  font-size: 0.5rem;
  display: flex;
  /* min-width: 0.5rem;
  min-height: 0.5rem; */
  /* padding: 0.3em; */
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .header .container {
    display: flex;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    visibility: visible;
    height: auto;
  }

  .navList {
    display: flex;
  }

  .navItem {
    padding: 1rem;
    cursor: pointer;
    display: inline;
  }
}
.carousel-text {
  /* left: 50%; */
  color: white;
  width: 50%;
  font-size: 5rem;
  font-weight: 400;
}
.carouseltextcontainer {
  display: flex;
  align-items: flex-start;
}
.cat-img:hover {
  box-shadow: 0 0 60px rgba(33, 33, 33, 0.2);
}
.carouselbg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position: center;
  min-height: 600px;
}
.carouselNav {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.category-card {
  width: 300px;
  height: 250px;
  border-radius: 20px;
}

.category-box {
  cursor: pointer;
  margin-top: 2rem;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 10px;
}
.category-card:hover {
  box-shadow: 0 0 60px rgba(33, 33, 33, 0.4);
}
.quantity {
  color: var(--primary-color);
  box-shadow: none;
  background-color: transparent;
  outline: none;
}
.close-button {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: none;
  border: transparent;
  cursor: pointer;
  padding: 0.3em 0.5em;
}
.container-card {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 10px;
}

.card-modal {
  width: 310px;
  position: relative;
  transition: box-shadow 0.3s;
  vertical-align: top;
  overflow: hidden;
  background-color: var(--light-shade);
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  border-radius: 15px;
  margin: 1.5rem 1rem;
}
.card-modal:hover {
  box-shadow: 0 0 60px rgba(33, 33, 33, 0.2);
}
.primary-button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  font-size: 1rem;
  margin: 1em 1rem;
  cursor: pointer;
}
.primary-button:hover {
  background-color: var(--dark-primary-color);
}
.card-img {
  border-radius: 20px;
  padding: 1rem;
}
.CTA {
  display: inline;
}
.secondary-button {
  background-color: var(--dark-light-shade);
  color: var(--dark-shade);
  border: 0.5px solid var(--primary-color);
  border-radius: 0.5em;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.price {
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
